html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: black;
  color: white;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 36px;
}

.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    min-height: 82vh;
  }
}

#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-enter {
  overflow-y: hidden;
  opacity: 0;
  height: 0;
}

.slide-enter-active {
  overflow-y: hidden;
  opacity: 1;
  height: 153px;
  transition: all 500ms ease;
}

.slide-exit {
  overflow-y: hidden;
  opacity: 1;
  height: 153px;
}

.slide-exit-active {
  overflow-y: hidden;
  opacity: 0;
  height: 0;
  transition: all 500ms ease;
}
